.container {
  width: 350px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #380beb;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: #f19f34;
}
